.footer-home {
    display: flex;
    background-color: #444;
    
}

.cards-footer{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.icones-footer-home {
    width: 32px;
    height: 32px;
}

.cards-footer a {
    color: #FFFFFF;
}